---
import CenteredContent from '../components/CenteredContent.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import { Calendar } from '../components/Calendar';

// TODO: Search for icons of the services that I'm spending money on (Netflix, Youtube, etc.).
// TODO: Insert the scrapping results in the DB.
---

<Layout title='Calendar Payments'>
  <CenteredContent>
    <Header />
    <section class='min-h-[425px]'>
      <Calendar />
    </section>
  </CenteredContent>
</Layout>
